
head {
    
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;


}
.parallax{
    background: url(./kosmos.jpg);
    background-attachment: fixed;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;

}

.parallax .mask{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0,7);
    z-index:2;
}
.parallax-content{
    z-index:3;
    display:block

}

.parallax-content{
  background: #000000d6;
  box-shadow: 0 10px 30px #ffffff;
  width:90%; 
  height: auto;
  border-radius: 40px;
  float:center;
  color: white;
  margin-top: 10%;
}

.parallax-content p {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 35px;
}

.parallax-content p a{
  color: white;
}

.parallax-content p a:hover {
  color: #f96900;
  cursor: pointer;
}

.container{
  margin-top: -1600px;
  position: absolute;
}


.text1{
    color:#ffff;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    
}


/*снизу всё что к менюшке*/


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        border: none;
        outline: none;
        text-decoration: none;
    }
     

    section {
        padding: 0rem 2%;
    } 

    .header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 5px 10px #000;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;
        border-radius: 50px;
        line-height: 35px;
    }
 
    .header .logo img {
        width: 70px;
        height: 70px;
        position: relative;
    }
  
    .header .navbar a {

        font-size: 1.3rem;
        padding: 1rem;
        color: black;
        transition: 0.1s;
    }

    .header .navbar a:hover {
        background: rgba(0, 0, 0, 0.671);
        border-radius: 20px;
        color: rgb(255, 255, 255);
    }

    html {
      text-align: center;
    }

    @media (max-width:1300px) {
      section {
          padding: 0rem 5%;
        line-height: 35px;
      }
      html {
        font-size: 80%;
      }
    }

    @media (max-width:1250px) {
      section {
          padding: 0rem 5%;
        line-height: 35px;
      }
      html {
        font-size: 80%;
      }
    }

  @media (max-width:1200px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:1150px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:1100px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:1050px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:1000px) {
    section {
        padding: 0rem 5%;
        line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:950px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:900px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:850px) {
    section {
        padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 80%;
    }
  }

  @media (max-width:800px) {
    section {
      padding: 0rem 5%;
      line-height: 35px;
    }
    html {
      font-size: 55%;
    }

    .header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0 2rem;
      background-color: white;
      border-top: var(--border);
      box-shadow: var(--box-shadow);
      transition: 0.5s;
    }

    .header .navbar a {
      display: block;
      margin: 2rem 0;
    }

    #menu {
      font-size: 3.5rem;
      display: block;
    }

    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: 0.5s;
    }
  }





  /*сверху всё что к менюшке*/


  /*подвал снизу*/
  
  footer{
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    box-shadow: 0 -10px 10px #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    position: relative;
  }

footer a{
  color:white;
  font-size: 20px;
  margin-left: 20px;
}

footer nav a:hover{
  border-bottom: 1px solid white;
}

.graficlogo{
    margin-top: 30px;
    margin-bottom: 0px;
    width:200px;
    height:200px;
	  float:center;
    
}
.social img{
  margin-bottom: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.social img:hover{
  border: 2px solid #ffffffe4;
}